.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 0px 25px;
  max-width: 1500px;
  margin: auto;
}

form {
  padding: 20px;
}

.contact-description {
  text-align: center;
  font-size: 16px;
}

.hamburger {
  display: none;
}

.navigation {
  margin: 20px;
  padding-top: 5px;
}

.logo {
  display: inline-block;
  padding: 14px;
}

.responsive-home {
  overflow: hidden;

  /* vertical-align: top; */
  object-fit: contain;
}
.responsive {
  overflow: hidden;
  display: inline-block;
  object-fit: contain;
  padding: 20px;
}

.image-text {
  color: #109aeb;
  max-width: 850px;
}

.first-text {
  font-size: 58px;
  margin: 0;
}

.second-text {
  color: #000000;
  font-size: 24px;
  padding-top: 20px;

  margin-top: 0;
  max-width: 650px;
}

a {
  margin: 5px;
  padding: 13px;
  color: rgb(83, 122, 204);
  font-size: 17px;
  font-weight: strong;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text {
  font-size: 20px;
  color: rgb(255, 255, 255);
  max-width: 500px;
  text-align: left;
  padding: 0 20px 20px 20px;
}

.description {
  padding-top: 20px;
  color: #8a9598;
}

.strip-blue {
  background-color: #000121;
  color: rgb(228, 228, 228);
  text-align: center;
  padding-bottom: 150px;
}

.strip-white {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

  text-align: center;
  padding-bottom: 150px;
}

.strip-green {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding-bottom: 150px;
}

.text-black {
  font-size: 25px;
  color: rgb(0, 0, 0);
  max-width: 970px;
  padding: 0 5% 0 5%;
  text-align: center;
  /* margin-bottom: 50px; */
}

.text-white {
  font-size: 25px;
  color: rgb(255, 255, 255);
  max-width: 970px;
  text-align: center;
}

.title-demand {
  max-width: 800px;
  font-size: 70px;
  margin: auto;

  padding-top: 80px;

  text-align: center;
}
.title-premium {
  max-width: 800px;
  font-size: 60px;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 80px;
  margin-top: 80px;
  text-align: center;
  color: #8a9598;
}

.title-ua {
  max-width: 800px;

  text-align: left;
}

.title-advertisers {
  max-width: 800px;
  margin: auto;
  font-size: 90px;
  padding: 50px 20px 50px 20px;
  text-align: center;
  color: #ffffff;
}

.pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.format {
  padding: 10px;
}

.radio-container {
  padding-top: 20px;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  width: 35%;

  background-color: #000000;
  color: #8a9598;
  padding: 10px;
}

.subline {
  font-size: 45px;
  color: #00abcd;
  text-align: left;
}

.subline-text {
  font-size: 20px;
  color: white;
  max-width: 400px;
  text-align: left;
}

.list {
  padding: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.card {
  width: 25%;
  font-size: 17px;
  padding: 20px;
}

h3 {
  font-size: 28px;
  color: #00abcd;
  padding: 10px;
  border-radius: 25px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #00abcd;
}

textarea:focus,
button:focus,
input:focus {
  outline: none;
}

button[type="submit"] {
  background-color: #000000;
  color: rgb(37, 238, 245);
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.contact-container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;

  max-width: 500px;
  margin: auto;
  margin-bottom: 40px;
}

.footer-policy {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
}

.footer {
  padding: 20px;
  background-color: #000000;
  color: #00abcd;
  text-align: center;
}

.container-home {
  display: flex;
  justify-content: center;

  max-width: 1300px;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 20px;
  /* margin: 7% 10% 10% 10%; */
}
.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

@media (max-width: 1100px) {
  .navigation {
    display: none;
  }
  .hamburger {
    display: inline-block;
    cursor: pointer;
    padding: 8px 8px 0 0;
  }
  .image-text {
    margin: auto;
    margin-bottom: 20px;

    font-weight: bold;
    text-align: center;
    max-width: 900px;
  }
  .description {
    padding: 10px;
  }

  .center-image {
    margin-top: 50px;
    text-align: center;
  }
  .first-text {
    font-size: 65px;
    padding: 20px 20px 0px 20px;
    /* text-align: center; */
  }
  .second-text {
    font-size: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 600px;
  }
  .responsive {
    margin: auto;
    width: 80%;
  }

  .responsive-home {
    width: 80%;
    margin: auto;
  }
  .box {
    width: 70%;
  }

  .container {
    flex-direction: column;
  }

  .container-home {
    flex-direction: column;
  }

  .vectors {
    flex-direction: column;
  }

  .title-demand {
    font-size: 38px;
  }

  .card {
    width: 80%;
  }
  .title-demand {
    padding: 15px;
    font-size: 45px;
  }

  .title-premium {
    font-size: 45px;
    text-align: center;
    padding: 20px;
  }

  .title-advertisers {
    font-size: 50px;

    padding: 10px;
  }

  .title-ua {
    font-size: 28px;
  }

  .subline {
    font-size: 30px;
  }
  .subline-text {
    font-size: 20px;
  }
}

.primary-btn {
  font-size: 18px;
  margin: 20px 0px 20px 0px;
  padding: 14px;
  background-color: #4185c9;
  border-style: none;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: 700px) {
  .first-text {
    font-size: 55px;
    padding: 20px 20px 0px 20px;
  }
  .second-text {
    font-size: 23px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  .first-text {
    font-size: 40px;
    padding: 5px;
  }
  .second-text {
    font-size: 15px;
    text-align: center;
    margin: auto;
  }
  .responsive-home {
    /* width: 75%;
    margin: auto; */
    height: auto;
  }
  .description {
    font-size: 15px;
  }
  .strip-white {
    padding: 0;
  }
  .text-white {
    font-size: 20px;
  }
}
