.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 100%;
  background-color: rgb(24, 5, 48);
  overflow-x: hidden;
  transition: 0.4s;
  z-index: 2;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  padding-left: 20px;
}

.overlay a {
  font-family: "Quicksand", sans-serif;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f7f7f7;
  display: block;
  transition: 0.3s;
}

.close-btn {
  justify-content: flex-end;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
